[iam-source]
aws_access_key_id = IAM-ACCESS-KEY-HERE
aws_secret_access_key = IAM-SECRET-ACCESS-KEY-HERE

[ec2-source]
aws_access_key_id = EC2-ACCESS-KEY-HERE
aws_secret_access_key = EC2-SECRET-ACCESS-KEY-HERE
